.avatar {
  /* margin-right: 15px; */
  padding: 10px;
}

.statusOnline,
.statusOffline {
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
}

.statusOffline {
  background-color: red;
}
